{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>In and Out Body</h2>
            <ul>
                <li><a href="{% url 'upload_file' %}"><i class="fas fa-upload menu-icon"></i>&nbsp 데이터 업로드</a></li>
                <li><a href="{% url 'report' %}"><i class="fas fa-file-alt menu-icon"></i>&nbsp 검사 결과 조회</a></li>
                <li><a href="{% url 'policy' %}"><i class="fas fa-shield-alt menu-icon"></i>&nbsp 개인정보 처리 방침</a></li>
            </ul>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-button">로그아웃</button>
            </form>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
