{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2RNGQ9YFFS"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2RNGQ9YFFS');
    </script>
</head>
<body>
    <div class="login-container">
        <h2>비밀번호 변경</h2>

        <form method="post" style="background: rgba(255, 255, 255, 0.7);">
            {% csrf_token %}
            <div>
                <label for="old_password">현재 비밀번호</label>
                <input type="password" name="old_password" id="old_password" required />
                {% if form.old_password.errors %}
                <p style="color: red; text-align: left">
                    {{ form.old_password.errors.0 }}
                </p>
                {% endif %}
            </div>
            <div>
                <label for="new_password1">새로운 비밀번호</label>
                <input type="password" name="new_password1" id="new_password1" required />
                {% if form.new_password1.errors %}
                <p style="color: red; text-align: left">
                    {{ form.new_password1.errors.0 }}
                </p>
                {% endif %}
            </div>
            <div>
                <label for="new_password2">비밀번호 확인</label>
                <input type="password" name="new_password2" id="new_password2" required />
                {% if form.new_password2.errors %}
                <p style="color: red; text-align: left">
                    {{ form.new_password2.errors.0 }}
                </p>
                {% endif %}
            </div>
            <button type="submit">확인</button>
        </form>

        {% if form.non_field_errors %}
        <div>
            {% for error in form.non_field_errors %}
            <p style="color: red; text-align: center">
                {{ error }}
            </p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</body>
</html>
