{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>패스워드 변경 완료</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2RNGQ9YFFS"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2RNGQ9YFFS');
    </script>
</head>
<body>
    <div class="login-container">
        <h2>패스워드 변경 완료!</h2>
        <p>성공적으로 패스워드를 변경하였습니다.</p>
        <button class="btn" onclick="closeWindow()" style="background-color: #1bac3d;">
            <i class="fa fa-download"></i> 확인
        </button>
    </div>
    <script>
        function closeWindow() {
            window.close();
        }
    </script>
</body>
</html>
