{% load static %}

<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="stylesheet" href="{% static 'styles-auth.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2RNGQ9YFFS"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-2RNGQ9YFFS');
    </script>
<body>
    <div class="image-container"></div> <!-- Image Container Div -->
    <div class="login-container">
        <form method="post" style="background: rgba(255, 255, 255, 0.7);">
            {% csrf_token %}
            
            <!-- 아이디 입력 -->
            <div>
                {{ form.username.label_tag }}
                {{ form.username }}
                <!-- 아이디 검증 오류 메시지 출력 -->
                {% if form.username.errors %}
                    <p style="color: red;">{{ form.username.errors.0 }}</p>
                {% endif %}
            </div>

            <!-- 비밀번호 입력 -->
            <div>
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <p style="color: red;">{{ form.new_password1.errors.0 }}</p>
                {% endif %}
            </div>

            <div>
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <p style="color: red;">{{ form.new_password2.errors.0 }}</p>
                {% endif %}
            </div>

            <button type="submit">비밀번호 변경</button>
        </form>
    </div>
</body>
</html>
