{% extends 'base.html' %}

{% block title %}Policy{% endblock %}

{% block content %}
<h2>개인정보 처리방침</h2>

<p>
    개인정보보호법에 따라 주식회사 AICU(이하 “AICU”)는 회원가입 신청하시는 분께 수집하는 개인정보의 항목, 개인정보의 수집 및 이용목적, 개인정보의 보유 및 이용기간, 동의 거부권 및 동의 거부 시 불이익에 관한 사항을 다음과 같이 공개합니다.
</p>

<h3>제 1조 (개인정보의 수집 및 이용목적)</h3>
<ul>
    <li>AICU는 아래의 목적으로만 개인정보를 수집, 이용합니다.</li>
    <li>회원 가입 의사의 확인, 이용자 식별 등 회원관리</li>
    <li>서비스 이용 기록과 접속 빈도 분석, 서비스 이용에 대한 통계 등</li>
</ul>

<h3>제 2조 (수집하려는 개인정보의 항목)</h3>
<p>AICU는 이용자가 서비스를 이용하고자 하는 경우 서비스 이용을 위한 최소한의 개인정보를 수집합니다.</p>
<ul>
    <li>회원 가입 시점에 이용자로부터 수집하는 개인정보는 아래와 같습니다.</li>
    <li>회원 가입 시에 구글로그인 등 SNS인증 방식을 통해 인증하고 “이메일, 이름” 을 필수항목으로 수집합니다.</li>
    <li>서비스 이용 과정에서 서비스 이용 기록, 기기정보가 생성되어 수집될 수 있습니다.</li>
</ul>

<h3>제 3조 (개인정보의 보유 및 이용기간)</h3>
<p>
    AICU는 회원탈퇴 등 서비스 이용 종료 시 수집한 개인정보는 지체없이 파기합니다.
</p>

<h3>제 4조 (개인정보의 제3자 제공)</h3>
<p>
    AICU는 정보주체의 사전 동의 없이 개인정보를 제3자에게 제공하지 않습니다. 단, 법률에 특별한 규정이 있거나 법령상 의무를 준수하기 위하여 불가피한 경우 등 개인정보 보호법 제17조에 해당하는 경우에 한하여 개인정보를 제3자에게 제공할 수 있습니다.
</p>

<h3>제 5조 (민감정보의 공개 가능성 및 비공개를 선택하는 방법)</h3>
<p>
    AICU는 서비스를 제공하는 과정에서 사생활 침해의 위험성이 발생할 수 있다고 판단되는 민감정보를 공개하지 않습니다.
</p>

<h3>제 6조 (개인정보처리의 위탁)</h3>
<ul>
    <li>위탁받는 자 (수탁자) : Amazon Web Services, Inc.</li>
    <li>위탁 업무 목적 : 데이터 보관 및 인프라 관리</li>
</ul>
<p>
    AICU는 위탁계약 체결 시 개인정보 보호법 제26조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적 ∙ 관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리 ∙ 감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.
</p>

<h3>제 7조 (개인정보의 국외 이전)</h3>
<p>해당사항 없음</p>

<h3>제 8조 (개인정보의 파기)</h3>
<ul>
    <li>파기절차: 파기 사유가 발생한 개인정보를 선정하고, 개인정보 보호책임자의 승인을 받아 개인정보를 파기합니다.</li>
    <li>파기방법: 전자적 파일 형태로 기록된 개인정보는 재생할 수 없는 기술적 방법을 이용해 파기하고, 종이 문서는 분쇄하거나 소각하여 파기합니다.</li>
</ul>

<h3>제 9조 (정보주체의 권리∙의무 및 행사방법)</h3>
<p>
    정보주체는 AICU에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.
</p>
<ul>
    <li>개인정보의 열람 요구</li>
    <li>오류 등이 있을 경우 정정 요구</li>
    <li>삭제 요구</li>
    <li>처리 정지 요구</li>
</ul>

<h3>제 10조 (개인정보의 안정성 확보조치)</h3>
<p>
    AICU는 개인정보 보호법 제29조에 따라 개인정보의 안전성 확보를 위해 관리적, 기술적, 물리적 조치를 취하고 있습니다.
</p>

<h3>제 11조 (개인정보 자동 수집 장치의 설치∙운영 및 거부에 관한 사항)</h3>
<ul>
    <li>쿠키의 사용 목적: 이용자가 방문한 각 서비스와 웹사이트들에 대한 방문 및 이용형태, 보안접속 여부 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용됩니다.</li>
    <li>쿠키의 설치∙운영 및 거부: 웹브라우저 상단의 [도구] > [인터넷 옵션] > [개인정보] 메뉴의 옵션 설정을 통해 쿠키 저장을 거부할 수 있습니다.</li>
</ul>

<h3>제 12조 (개인정보 보호책임자)</h3>
<ul>
    <li>성명: 황은아</li>
    <li>직책: CEO</li>
    <li>이메일: aicu.contact@gmail.com</li>
</ul>

<h3>제 13조 (정보주체의 동의없이 추가적인 이용 또는 제공할 때 판단기준)</h3>
<p>다음 기준에 따라 개인정보를 추가적으로 이용하거나 제공할 수 있습니다.</p>
<ul>
    <li>당초 수집 목적과 관련성이 있는지 여부</li>
    <li>개인정보의 추가적인 이용 또는 제공에 대한 예측 가능성이 있는지 여부</li>
    <li>정보주체의 이익을 부당하게 침해하는지 여부</li>
</ul>

<h3>제 14조 (권익침해 구제방법)</h3>
<p>
    개인정보 침해에 대한 신고나 상담이 필요한 경우 다음 기관에 문의할 수 있습니다.
</p>
<ul>
    <li>개인정보 분쟁조정위원회 (www.kopico.go.kr)</li>
    <li>개인정보 침해신고센터 (privacy.kisa.or.kr)</li>
    <li>대검찰청 사이버범죄수사단 (www.spo.go.kr)</li>
    <li>경찰청 사이버안전국 (cyberbureau.police.go.kr)</li>
</ul>

{% endblock %}
