/* analysis/static/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body takes full height */
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allows content to grow and fill available space */
    overflow: hidden; /* Prevent overflow */
}

.content {
    margin-left: 270px; /* Margin to account for the fixed sidebar */
    padding: 30px 0px 0 40px;
    width: calc(100% - 270px); /* Width calculation to ensure it fits next to the sidebar */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    min-height: 100vh; /* Ensure content area takes full viewport height */
    background-color: #f9f9f9; /* Optional: add background color for better contrast */
    align-items: center;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; /* Adjust as necessary */
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration-line: none; /* 링크의 밑줄 제거 */
}

.upload-section {
    margin: 20px 0;
    padding: 20px;
    background: #e9e9e9;
    border-radius: 5px;
}

.drag-drop-area {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: border-color 0.3s, background-color 0.3s;
}
.drag-drop-area.active {
    border-color: #007bff; /* Change border color when active */
    background-color: #f0f8ff; /* Change background color when active */
}

.drag-drop-area p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.sidebar {
    display: flex;
    flex-direction: column; /* Arrange children vertically */
    width: 300px; /* Increased width for better layout */
    background-color: #f4f4f4;
    padding: 30px; /* Increased padding */
    height: 100vh; /* Full viewport height */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    overflow-y: auto; /* Add scroll if content overflows */
    box-sizing: border-box; /* Ensure padding is included in width */
}

.sidebar-header {
    display: flex;
    align-items: center; /* Center items vertically */
    margin-bottom: 30px; /* Space below header */
}

.sidebar-header .app-icon {
    font-size: 40px; /* Increase icon size */
    color: #007bff; /* Icon color */
    margin-right: 15px; /* Space between icon and text */
}

.sidebar-header h2 {
    font-size: 24px; /* Increase font size for heading */
    margin: 0; /* Remove margin for better alignment */
    color: #333; /* Text color */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1; /* Allow ul to take available space */
}

.sidebar ul li {
    margin-bottom: 15px; /* Space between items */
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: normal; /* Default font weight */
    font-size: 18px; /* Font size for links */
    display: flex; /* Use flexbox for icon and text alignment */
    align-items: center; /* Align items vertically */
    padding: 10px 15px; /* Padding for clickable area */
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s, transform 0.3s, font-weight 0.3s; /* Smooth transitions */
}

.sidebar ul li a .menu-icon {
    font-size: 24px; /* Icon size */
    color: #1D192B; /* Icon color */
    margin-right: 10px; /* Space between icon and text */
}

.sidebar ul li a:hover {
    color: #1D192B; /* Change text color on hover */
    background-color: #E8DEF8; /* Background color on hover */
    transform: scale(1.05); /* Slightly increase font size on hover */
    font-weight: bold; /* Make font weight bold on hover */
}


.logout-button {
    display: block;
    width: 100%; /* Full width button */
    padding: 15px; /* Padding for button */
    background-color: #e74c3c;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px; /* Font size for button */
    margin-top: auto; /* Push button to the bottom */
    border: none; /* Remove border */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition */
}

.logout-button:hover {
    background-color: #c0392b; /* Darker shade on hover */
}


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background-color: #f9f9f9;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center; /* Center-align heading */
}

.login-container form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px; /* Restrict width for larger screens */
    box-sizing: border-box;
}

.login-container form div {
    margin-bottom: 15px;
    width: 100%;
}

.login-container form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.login-container form input,
.login-container form button {
    width: 100%; /* Ensure both input and button take full width of form */
    padding: 10px; /* Consistent padding for both inputs and button */
    border: 1px solid #ccc; /* Border for inputs; remove for button */
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding and border are included in width */
}

.login-container form input {
    border: 1px solid #ccc; /* Border for input fields */
}

.login-container form button {
    border: none; /* Remove border for button */
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-container form button:hover {
    background-color: #0056b3;
}

.login-container p {
    margin-top: 20px;
    font-size: 14px;
    text-align: center; /* Center-align paragraph text */
}


form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.table-container {
    margin: 20px 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex: 1; /* Allow the container to grow */
    overflow: hidden; /* Prevent overflow */
    display: flex;
    flex-direction: column;
}


table {
    width: 100%;
    border-collapse: collapse;
    text-align: center; /* 셀의 텍스트를 가로로 가운데 정렬 */
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center; /* 가로 가운데 정렬 */
    vertical-align: middle; /* 세로 가운데 정렬 */
}

th {
    font-size: 1.3rem;
    background-color: #f4f4f4;
}

.table-container {
    max-height: calc(100vh - 200px); /* 뷰포트에 맞게 테이블의 최대 높이 조정 */
    overflow-y: auto; /* 세로 스크롤 적용 */
}

tbody {
    display: block;
    max-height: calc(100vh - 200px); /* 뷰포트에 맞게 테이블 본문의 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 적용 */
    width: 100%;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* 열 너비 고정 */
}

.custom-file-upload {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

a.btn-link {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a.btn-link button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; /* Adjust as necessary */
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a.btn-link button i {
    margin-right: 5px; /* Space between icon and text */
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}

.pagination-button:hover {
    background-color: #0056b3;
}

.info-section {
    display: none; /* Hidden by default */
    margin: 20px 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: space-between;
}

.info-section div {
    display: flex;
    align-items: center;
}

.info-section .icon {
    margin-right: 20px;
}

.info-section .file-name {
    font-size: 18px;
}

.info-section .message {
    font-size: 18px;
}

.confirm-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    animation: pulse 1.5s infinite; /* Add pulse animation */
}

.confirm-button:hover {
    background-color: #218838;
}

.report-card {
    position: relative;
    width: 850px;
    margin: 20px auto;
    background: linear-gradient(90deg, #62CAE4 0%, #9ECA94 49.67%, #FFCF00 100%);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    filter: drop-shadow(1px 9px 22.7px rgba(0, 0, 0, 0.15));
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: space-between; /* Space out content horizontally */
}

.report-card .left-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically within the left section */
    max-width: calc(100% - 240px); /* Adjust width to leave space for the icon */
}

.report-card .title,
.report-card .description-label,
.report-card .description-value,
.report-card .result-value {
    text-align: left; /* Align text to the left */
    color: #FFF8F8;
    text-shadow: 0px 2px 5.3px rgba(0, 0, 0, 0.25);
}

.report-card .title {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 203%;
    /* identical to box height, or 183px */
    display: flex;
    align-items: center;
}

.report-card .result-value {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 203%;
    /* identical to box height, or 130px */
    display: flex;
    align-items: center;
}

.report-card .description-label {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 203%;
    display: flex;
    align-items: center;
    text-align: center;
}

.report-card .description-value {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 32px;
}

.report-card img {
    width: 220px;
    height: 220px;
    left: 665px;
    top: 326px;
}

.main-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 203%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.3em;
    background: linear-gradient(90deg, #62CAE4 0%, #FFCF00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.sub-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 203%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.3em;
    background: linear-gradient(0deg, #606060, #606060), linear-gradient(90deg, #62CAE4 0%, #FFCF00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.subsub-title {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 203%;
    /* or 30px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
    background: linear-gradient(0deg, #606060, #606060), linear-gradient(90deg, #62CAE4 0%, #FFCF00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.divider {
    height: 4px;
    background-color: #e2e8f0;
    margin: 40px 0;
    border-radius: 2px;
}

.image-container {
    display: flex;
    justify-content: space-between;  /* 이미지를 좌우로 배치 */
    align-items: center;             /* 텍스트와 이미지를 중앙에 정렬 */
    margin: 20px;
}

.image-block {
    text-align: center;
    width: 45%;  /* 각 이미지 블록의 너비를 설정 */
    margin: 10px;
}

.image-block img {
    max-width: 100%;  /* 이미지가 블록 너비를 넘지 않도록 설정 */
    height: auto;
    border-radius: 8px;  /* 이미지에 둥근 모서리 추가 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);  /* 이미지에 그림자 추가 */
}

.image-title {
    font-size: 1.5em;   /* 텍스트 크기 */
    color: #333;        /* 텍스트 색상 */
    font-size: 30px;
    font-weight: bold;  /* 텍스트 굵기 */
    margin-bottom: 10px;  /* 텍스트와 이미지 사이 여백 */
    text-transform: uppercase;  /* 텍스트 대문자로 변환 */
    letter-spacing: 1px;  /* 글자 간격 조정 */
}

.image-container p {
    margin: 0;  /* 텍스트 상단과 하단 여백 제거 */
    padding: 5px;
}

.image-block p {
    background-color: #f5f5f5;   /* 텍스트 배경 색상 */
    padding: 5px 10px;           /* 텍스트 패딩 */
    border-radius: 5px;          /* 텍스트 배경에 둥근 모서리 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* 텍스트 박스에 그림자 */
}

.image-wrapper {
    position: relative;
}

.image-wrapper img {
    display: block;
}

.overlay-left, .overlay-right {
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 5px;
}

.overlay-left {
    left: 10px;
}

.overlay-right {
    right: 10px;
}


.caution-text {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: x-small;
    line-height: 29px;

    color: #EA5942;


}

.summary-sub-title {
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
}

/* 'i' 아이콘 스타일 */
.summary-info-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    font-size: 0.8em;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    margin-left: 5px;
    position: relative;
}

/* Tooltip */
.summary-info-icon:hover::after {
    content: attr(title);
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 0.8em;
    border-radius: 5px;
    top: 20px;
    left: 20px;
    width: 500px;
    z-index: 100;
    white-space: normal;
}

.summary-evaluation-container {
    width: 100%;
    margin-top: 10px;
}

.summary-evaluation-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.summary-title {
    font-weight: bold;
    width: 30%;
    font-size: 1.2rem;
    text-align: left;
}

.summary-description {
    width: 65%;
    text-align: right;
}

.summary-divider-line {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 5px 0;
}

/* Pulse Animation */
@keyframes pulse {
    0% {
        transform: scale(1);
        background-color: #28a745; /* Original color */
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    }
    50% {
        transform: scale(1.1);
        background-color: #34c759; /* Lighter green for effect */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    100% {
        transform: scale(1);
        background-color: #28a745; /* Return to original color */
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    }
}

.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed; /* Ensures it stays in view */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999; /* Make sure it's on top of other elements */
}

/* Spinner Styling */
.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1); /* Light gray border */
    border-left-color: #3498db; /* Blue color for the spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* Animation for Spinner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Text Styling */
.spinner-container p {
    margin-top: 10px;
    color: white; /* White text color */
    font-size: 1.2rem; /* Slightly larger text */
    font-weight: bold; /* Bold text for better visibility */
}

.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 16px;
    color: #fff; /* White text color */
    transition: background-color 0.3s ease;
}

.icon-button.success {
    background-color: #28a745; /* Green for success */
}

.icon-button.success:hover {
    background-color: #218838; /* Darker green on hover */
}

.icon-button.error {
    background-color: #dc3545; /* Red for error */
}

.icon-button.error:hover {
    background-color: #c82333; /* Darker red on hover */
}

.icon-button i {
    margin: 0;
}
